<!-- 検索に当てはまったイベントの一覧を表示するページ -->
{% extends "base.html" %}
{% block body %}
<h1 class="title">イベント一覧</h1>
<h2 class="title">検索ワード:{{ keyword }}</h2>
<h3 class="title">検索結果:{{ hit }}件表示</h3>

<table class="table table-striped table-hover">
    <tr>
        <th>イベント名</th>
        <th>場所</th>
        <th>期間</th>
        <th>カテゴリー</th>
    </tr>

    {% for json in jsonSearch %}
    <tr>
        <td><a href="/details/{{ json['key'] }}">{{ json["event_name"] }}</a></td>
        <td>{{ json["event_place"] }}</td>
        <td>{{ json["start_date"] }}&nbsp;〜&nbsp;{{ json["end_date"] }}</td>
        <td>{{ json["category"] }}</td>
    </tr>
    {% endfor %}
 
</table>

 
{% endblock %}